*{
  box-sizing: border-box;
  display: block;
}
body{
  background-color: #dbdbdb;
}

.logo{
  width: 500px;
  height: 200px;
  margin: 5px auto;
  background-image: url("./../imagenes/LOGO.jpg")
}

#btn{
  width: 100px;
  height: 50px;
  color: white;
  background-color: black;
  margin: 50px auto;
}

#marcador{
  margin: 10px auto;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  width: 800px;
  display: flex;
}

.canv{
  
  margin: auto;
}